<p>
	Estimado <%= @user.first_name %>
</p>

<p>
	Te confimamos la compra de la orden #<%= @cart.id %>
<p>
	
<p>Los productos que compraste son:</p>

<table>
	<tr>
		<th>Producto</th>
		<th>Cantidad</th>
		<th>Precio</th>
	</tr>
		
	<% @cart.items.each do |item| %>
		<tr>
		<td><%= item.product.name %></td>
		<td><%= item.units %></td>
		<td><%= item.product.price %></td>
		</tr>
	<% end %>
	
</table>

<h2>El total de tu compra es <%= @cart.total %></h2>

<p>Gracias por comprar en la super tienda.</p>