<%= form_for(@product) do |f| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>Tuviste errores al enviar la forma</h2>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nombre' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price, 'Precio' %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :units, 'Unidades' %><br />
    <%= f.text_field :units %>
  </div>
  <div class="field">
    Descripci&oacute;n<br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit 'Crear producto' %>
  </div>
<% end %>
