<h1>Tienda</h1>


<% @products.each do |product| %>
	<div class='product'>
		
		<h2><%= link_to product.name, product %></h2>

	    <p>
			<%= product.description %>
		</p>

	    <span><%= product.price %></span>

	    <p>
			<%= link_to 'Edit', edit_product_path(product) %>
			<%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %>
		</p>
		
	</div>

<% end %>

<br />

<%= link_to 'New Product', new_product_path %>
