<h1>Tienda</h1>

<h2>Carrito de compras</h2>

<% if @cart.items.empty? %>
	<p>Todav&iacute;a no compraste nada</p>
<% else %>
	<table>
		<tr>
			<th>Producto</th>
			<th>Cantidad</th>
		</tr>
	<% @cart.items.each do |item| %>
		<tr>
			<td><%= item.product.name %></td>
			<td><%= item.units %></td>
		</tr>
	<% end %>
	</table>
<% end %>

<% @products.each do |product| %>
	<div class='product'>
		
		<h2><%= link_to product.name, product %></h2>

	    <p>
			<%= product.description %>
		</p>

	    <span><%= product.price %></span>
		
		<p>
			<%= link_to 'Agregar al carrito',
			 			 add_to_cart_product_path(product),
			 			:method => :post %>
		</p>
		
	    <p>
			<%= link_to 'Editar', edit_product_path(product) %>
			<%= link_to 'Eliminar', product, :confirm => 'Are you sure?', :method => :delete %>
		</p>
		
	</div>

<% end %>

<br />

<%= link_to 'New Product', new_product_path %>
