<% @products.each do |product| %>

	<div class="item">
		<div class="imageholder">
		</div>
		<p class="name"><%= link_to product.name, product %></p>	
		<p class="price"><%= number_to_currency product.price %></p>
		
		<p>
			<%= link_to 'Agregar al carrito',
			 			 add_to_cart_product_path(product),
			 			:method => :post %>
		</p>
		
		<p>
			<%= link_to 'Editar', edit_product_path(product) %>
			<%= link_to 'Eliminar', product, :confirm => 'Are you sure?', :method => :delete %>
		</p>
	</div>
	
<% end %>

<div class='clearb'></div>
