<!--PRODUCTOS-->
<div class="clear">
	<!--FOTO-->
	<div class="left">

		<div class="pic">
			<%= image_tag @product.image.url, :alt => "Picture Not Available" %>
		</div>
	</div>
	<!--DESCRIPCION-->
	<div class="descripcion">
		<h2><%= @product.name %></h2>
		<p><%= @product.description %></p>
		<p><em>Existence: </em><%= @product.units %></p>
		<p class="precio"><%= number_to_currency @product.price %></p>
		<div class="clearb">
			<p>
				<%= link_to 'Agregar al carrito',
				 			 add_to_cart_product_path(@product),
				 			:method => :post %>
			</p>

			<p>
				<%= link_to 'Editar', edit_product_path(@product) %>
				<%= link_to 'Eliminar', @product, :confirm => 'Estas seguro?', :method => :delete %>
			</p>
		</div>
	</div>
                 
</div>