<!DOCTYPE html>
<html>
<head>
  <title>Tienda</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	
	<div id="header">
		<div class="wrapper">
			<!--LOGO-->
			<div id="logo">
				<a href='/'><h1 style='color:#fff'>Mi super tienda</h1></a>
			</div>
			<!--MENU-->
			<div id="menu">
				<%= render :partial => 'layouts/main_menu' %>
			</div>
		</div>
	</div>

	<!--CONTENTENIDO-->
	<div id="content">
		<div class="wrapper">
			<!--MAIN-->
			
			<div id="main">
				<p>
					
					<div id="hello">
						<% if user_signed_in? %>
							<h2>Bienvenido <%= current_user.email %></h2>
						<% end %>
					</div>
					<div id="search">
						<% form_tag(products_path, :method => :get) do %>
						<%= image_submit_tag "buscar.png", :class => 'sbutton' %>
						
							<%= text_field_tag :search, params[:search], :class => 'sbox' %>
						<% end %>
					</div>
				</p>
			</div>
				<!--MENU TIENDA-->
				<div id="ribbon">
					<!--HOME-->
					<div id="menutienda">
						<table width="100%" cellpadding="0" cellspacing="0">
							<tr>
								<td width="35px" style="background:url(/images/home.png) right center no-repeat; text-align: right;">
									<%= link_to image_tag("casa.gif", :alt => "home", :style => 'border:none;'), products_path %>
								</td>
								<td>
									
								</td>
							</tr>
						</table>
					</div>
				</div>
				<!--REST-->
				<div id="rest">
					<!--LEFT-->
					<div id="cleft">
						<!--MINI CART-->
						<div id="minicart" class="spanish_cart">
							<div class="content">
								<%= render :partial => '/products/cart' %>
							</div>
						</div>
					</div>
					<!--RIGHT-->
					<div id="cright">
						<%- flash.each do |name, msg| -%>
					      <%= content_tag :div, msg, :id => "flash_#{name}" %>
					    <%- end -%>
						<%= yield %>
					</div>
				</div>
		</div>
	</div>
</body>
</html>
